body {
  min-height: 100vh;
  background: linear-gradient(180deg, #6db3f2 0%, #dfe9f3 100%);
  min-height: 100vh;
  color: #222;
  font-family: system-ui, sans-serif;
  background-size: cover;
  background-position: center;
  /* font-family: "Poppins", sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 28px;
  padding: 32px 28px;
  width: 100%;
  max-width: 380px;
  color: #1f2933;
  box-shadow:
    0 20px 45px rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.weather-box h2 {
  font-weight: 600;
}

.search-box {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px);
  border-radius: 50px;
  padding: 6px 12px;
  margin-bottom: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 14px;
  font-size: 1rem;
  color: #1f2933;
}

.search-box input::placeholder {
  color: rgba(31, 41, 51, 0.6);
}

.search-box button {
  border: none;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.search-box button:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

.weather-icon {
  width: 110px;
  margin: 15px 0;
}

.temperature {
  font-size: 50px;
  font-weight: 600;
}

.weather-desc {
  letter-spacing: 1px;
  opacity: 0.9;
}

.info-box {
  background: rgba(255, 255, 255, 0.548);
  border-radius: 15px;
  padding: 12px;
  font-size: 14px;
}

.info-box i {
  font-size: 18px;
  margin-bottom: 6px;
}
